
h2.aboutMe {
    color: goldenrod;
}

p.aboutMe {
    font-size: 75%;
}

h2#skillsHeader {
    font-style: italic;
}

h3 {
    font-weight: bold;
    color: cornflowerblue;
}

h2.experience {
    font-family: 'Montserrat', sans-serif;
}

p.experience {
    background-color: darkseagreen;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}